.itemRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  border: 1px solid lightgray;
  padding: 2px;
  border-radius: .5rem;
}

.itemRow p, .itemIcon{
  display: flex;
  padding-right: .25rem;
}

.formRowStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
}